@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Mulish", sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 160px;
    padding-left: 35px;
    padding-top: 15px;
}

a {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #4F5665;
    text-decoration: none;
}

nav {
    display: inline-block;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 500px;
  }

  
a:hover {
    color: #1F1534;
    transition: 0.3s all;
}

main {
    width: 100%;
    height: 580px;
}

.home,
.home-1,
.hom1-2{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 50px;
}

.align-home {
    display: flex;
}

.home h1,
.home-1 h1,
.home-2 h1{
    line-height: 60px;
    padding-top: 20px;
    width: 600px;
    font-size: 44px;
    font-weight: 700;
}

h2 {
    width: 580px;
    color: #949496;
    font-size: 21px;
    font-weight: 600;
    padding-top: 25px;
}

.img-home img{
    width: 400px;
    height: 450px;
}

.ball img {
    width: 60px;
    padding-top: 30px;
}

.home button {
    margin-top: 40px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #458FF6;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 55px;
}

.our-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 240px;
}

.our-services h1 {
    font-size: 36px;
    font-weight: 700px;
}

.retangle-black {
    background-color: black;
    width: 56px;
    height: 2px;
    margin-top: 20px;
}

.retangle-blue {
    background-color: white;
    width: 56px;
    height: 2px;
    margin-top: 20px;
}

.our-services p {
    font-size: 18px;
    font-weight: 400px;
    color: #7D7987;
    padding-top: 30px;
}

.section-cards {
    height: 900px;
    background-image: url(/img/bg\ element.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    width: 330px;
    height: 334px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 40px;
    box-shadow: 10px 10px 5px 8px rgb(250, 250, 250);
}

.card-1 img,
.card-2 img,
.card-3 img,
.card-4 img,
.card-5 img,
.card-6 img {
    width: 60px;
}

.column-cards-1,
.column-cards-2 {
    display: flex;
    justify-content: space-around;
}

.card-1 h1,
.card-2 h1,
.card-3 h1,
.card-4 h1,
.card-5 h1,
.card-6 h1{
    padding-top: 20px;
    font-size: 24px;
}

.card-1 p,
.card-2 p,
.card-3 p,
.card-4 p,
.card-5 p,
.card-6 p{
    font-size: 16px;
    color: #7D7987;
    padding-top: 20px;
}

.button-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-cards button {
    margin-top: 40px;
    color: #458FF6;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: 3px 3px 3px 3px;
    border-color: #458FF6;
    border-radius: 30px;
    width: 200px;
    height: 55px;
}

.ilusta-1,
.ilusta-2 {
width: 100%;
height: 600px;
margin-top: 30px;
padding-left: 50px;
display: flex;
justify-content: space-around;
align-items: center;
}

.button-ilustra button,
.button-ilustra2 button,
.align-button button {
    margin-top: 40px;
    color: #458FF6;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: 3px 3px 3px 3px;
    border-color: #458FF6;
    border-radius: 30px;
    width: 200px;
    height: 55px;
}

.button-ilustra2 img {
    width: 10px;
}

.img-home2 img,
.img-home3 img {
    width: 500px;
    height: 400px;
}

.align-square {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-blue {
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    background: linear-gradient(#67C3F3, #5A98F2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square-blue h1{
    line-height: 60px;
    padding-top: 20px;
    font-size: 42px;
    font-weight: 700;
    color: white;
}

.align-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.align-conteudos {
    display: flex;
}

.align-ed {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.align-ed h1{
    font-size: 22px;
}

.square-blue p {
    font-size: 18px;
    color: white;
    font-weight: 300;
}

.p p {
    padding-left: 20px;
    line-height: 30px;
    padding-top: 20px;
}

.setinhas {
    display: flex;
}

.setinhas img {
    width: 70px;
    padding-right: 20px;
}

.align-setinhas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
}

.section-check {
    width: 100%;
    height: 800px;
    background-image: url(/img/bg\ element.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-check h1 {
    font-size: 40px;
}

.check-card1,
.check-card2,
.check-card3{
    width: 350px;
    height: 492px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 40px;
    box-shadow: 10px 10px 5px 8px rgb(250, 250, 250);
}

.check-card1 h1,
.check-card2 h1,
.check-card3 h1{
    margin-top: 20px;
    font-size: 21px;
}

.check-card1 p,
.check-card2 p,
.check-card3 p {
    font-size: 18px;
    font-weight: 400;
    color: #7D7987;
    padding-top: 20px;
}

.check-card1 h2,
.check-card2 h2,
.check-card3 h2{
    width: 280px;
    font-size: 18px;
    font-weight: 600;
    color: #458FF6;
    padding-top: 20px;
}

.check-card1 h2 img,
.check-card2 h2 img,
.check-card3 h2 img {
    width: 20px;
}

.img-card img {
    margin-top: -47px;
}

.align-cards {
    display: flex;
    justify-content: space-between;
}

footer {
    width: 100%;
    height: 425px;
    background: linear-gradient(#67C3F3, #5A98F2);
    margin-top: 90px;
}

.align-footer {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding-top: 20px;
}

footer h1 {
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding-top: 20px;
}

.column-1 img {
    width: 200px;
}

footer img {
    padding-top: 40px;
}